/* ==== RESET ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* ==== GLOBAL ==== */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}
.flex {
  display: flex;
}
section {
  padding-block: 40px;
}
section h2 {
  margin-bottom: 16px;
}
button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding-block: 8px;
  border: none;
  border-radius: 5px;
  background-color: #119759;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

/* ==== HEADER ==== */
header,
footer {
  background-color: #192a56;
  padding-block: 16px 0;
  color: #fff;
}
header > .container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
nav {
  background-color: #575fcf;
  padding-block: 16px;
}
nav li {
  display: inline;
  margin: 16px;
  font-size: 18px;
  text-transform: uppercase;
}
nav li a {
  color: #fff;
}
.menu-hamburguer {
  cursor: pointer;
  width: 32px;
}
.menu-hamburguer span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 100%;
  margin-bottom: 6px;
}

/* ==== SOBRE ==== */
#sobre .flex {
  gap: 24px;
}
#sobre img {
  max-width: 400px;
}

/* ==== EM DESTAQUE ==== */
.lista-veiculos {
  flex-wrap: wrap;
  gap: 30px;
}
.lista-veiculos li {
  max-width: 30%;
  border-radius: 5px;
}

.lista-veiculos li img {
  border-radius: 5px;
  max-width: 100%;
}
.lista-veiculos li h3 {
  margin-block: 16px;
}

#em-destaque .lista-veiculos li strong {
  display: block;
  margin-block: 8px;
}

/* ==== PROMOCOES ==== */
.lista-veiculos li .preco {
  display: block;
  margin-block: 8px;
}
.lista-veiculos li .preco .del {
  color: #ccc;
  font-size: 14px;
}

/* ==== CONTATO ==== */
form {
  max-width: 360px;
}
form button {
  max-width: 120px;
}
.form-campo {
  margin-bottom: 16px;
}
.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}
.form-campo textarea {
  resize: none;
  height: 120px;
}

/* ==== FOOTER ==== */
footer {
  padding-block: 16px;
}
footer li {
  margin-left: 10px;
}
footer li img {
  height: 32px;
}
footer .container {
  justify-content: space-between;
  align-items: center;
}
